{{#each (times 5)}}
    <div class="recipe hide">
        <a href="#" class="recipe--link">
            <img class="recipe--image" src="./assets/img/lazy-load.png">
            <h3 class="recipe--title">Recipe title</h3>
            <p class="recipe--author">By author</p>
            <div class="recipe--details">
                <span class="recipe--course"></span>
                <span class="recipe--prep"></span>
                <span class="recipe--cook"></span>
            </div>
        </a>
    </div>
{{/each}}
<button class="previous previous-recipe"><</button>
<button class="next next-recipe">></button>