<div class="results-container">
    <div class="food-carousel">
        <div class="food-carousel__input">
            <button class="previous previous-food food-carousel__btn button--directional"><span class="off-screen">Previous food</span><img src="./assets/img/icons/left-chevron.svg" alt="previous icon"></button>
            <button class="next next-food food-carousel__btn button--directional"><span class="off-screen">Next food</span><img src="./assets/img/icons/right-chevron.svg" alt="next icon"></button>
            <div class="image-container">
                <div class="food-image"><img alt="" src="./assets/img/carrots.svg" /></div>
                <img src="./assets/img/shadow.png" class="shadow">
            </div>
        </div>
        <p>Take a look below to see when I'm in season</p>
        <div class="season-calendar--key">
            <span class="key-el key-el--season"><span class="season--icon"><svg height="20" width="20">
                <circle cx="10" cy="10" r="6" fill="#067253" />
            </svg></span>In season</span>
            <span class="key-el key-el--available"><span class="season--icon"><svg height="20" width="20">
                <circle cx="10" cy="10" r="6" fill="#06BF8E" />
            </svg></span>Going in/out of season</span>
            <span class="key-el key-el--in-store"><span class="season--icon"><svg height="20" width="20">
                <circle cx="10" cy="10" r="6" fill="#AAD6C4" />
            </svg></span>Last of seasonal stock</span>
        </div>
        {{>season-calendar}}
    </div>
</div>