<div class="results-container">
    <div class="food-carousel">
        <button class="previous previous-food"><</button>
        <button class="previous next-food">></button>
        <div class="image-container">
            <img alt="" class="food-image" src="./assets/img/carrots.svg" />
            <img src="./assets/img/shadow.png" class="shadow">
        </div>
        <p>Take a look below to see when I'm in season</p>
        <div class="season-calendar--key">
            <span class="key-el key-el--season"><span class="season--icon"><svg height="20" width="20">
                <circle cx="10" cy="10" r="6" fill="#067253" />
            </svg></span>In season</span>
            <span class="key-el key-el--available"><span class="season--icon"><svg height="20" width="20">
                <circle cx="10" cy="10" r="6" fill="#06BF8E" />
            </svg></span>Going in/out of season</span>
            <span class="key-el key-el--in-store"><span class="season--icon"><svg height="20" width="20">
                <circle cx="10" cy="10" r="6" fill="#AAD6C4" />
            </svg></span>Last of seasonal stock</span>
        </div>
        <div class="season-calendar--table">
            <table>
                <thead>
                    <tr>
                        <th>J</th>
                        <th>F</th>
                        <th>M</th>
                        <th>A</th>
                        <th>M</th>
                        <th>J</th>
                        <th>J</th>
                        <th>A</th>
                        <th>S</th>
                        <th>O</th>
                        <th>N</th>
                        <th>D</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <svg class="season-calendar--table_icon" height="20" width="20">
                                <circle cx="10" cy="10" r="6" stroke="black" stroke-width="1" fill="white" />
                            </svg>
                        </td>
                        <td>
                            <svg class="season-calendar--table_icon" height="20" width="20">
                                <circle cx="10" cy="10" r="6" stroke="black" stroke-width="1" fill="white" />
                            </svg>
                        </td>
                        <td>
                            <svg class="season-calendar--table_icon" height="20" width="20">
                                <circle cx="10" cy="10" r="6" stroke="black" stroke-width="1" fill="white" />
                            </svg>
                        </td>
                        <td>
                            <svg class="season-calendar--table_icon" height="20" width="20">
                                <circle cx="10" cy="10" r="6" stroke="black" stroke-width="1" fill="white" />
                            </svg>
                        </td>
                        <td>
                            <svg class="season-calendar--table_icon" height="20" width="20">
                                <circle cx="10" cy="10" r="6" stroke="black" stroke-width="1" fill="white" />
                            </svg>
                        </td>
                        <td>
                            <svg class="season-calendar--table_icon" height="20" width="20">
                                <circle cx="10" cy="10" r="6" stroke="black" stroke-width="1" fill="white" />
                            </svg>
                        </td>
                        <td>
                            <svg class="season-calendar--table_icon" height="20" width="20">
                                <circle cx="10" cy="10" r="6" stroke="black" stroke-width="1" fill="white" />
                            </svg>
                        </td>
                        <td>
                            <svg class="season-calendar--table_icon" height="20" width="20">
                                <circle cx="10" cy="10" r="6" stroke="black" stroke-width="1" fill="white" />
                            </svg>
                        </td>
                        <td>
                            <svg class="season-calendar--table_icon" height="20" width="20">
                                <circle cx="10" cy="10" r="6" stroke="black" stroke-width="1" fill="white" />
                            </svg>
                        </td>
                        <td>
                            <svg class="season-calendar--table_icon" height="20" width="20">
                                <circle cx="10" cy="10" r="6" stroke="black" stroke-width="1" fill="white" />
                            </svg>
                        </td>
                        <td>
                            <svg class="season-calendar--table_icon" height="20" width="20">
                                <circle cx="10" cy="10" r="6" stroke="black" stroke-width="1" fill="white" />
                            </svg>
                        </td>
                        <td>
                            <svg class="season-calendar--table_icon" height="20" width="20">
                                <circle cx="10" cy="10" r="6" stroke="black" stroke-width="1" fill="white" />
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>