.recipe {
    text-align: center;

    &--title {
        max-width: $element-max-width;
        margin: 1rem auto;
        display: block;
    }
    
    &--details {
        border-top: 1px solid #bababa;
        margin: 1rem auto;
        padding-top: 1rem;
        max-width: $element-max-width;

        span {
            display: block;
            line-height: 1.2rem;
        }
    }

    &--navigation {
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: center;
        align-items: center;
        max-width: $element-max-width;

        .previous {
            order: 1;
            flex-shrink: 1;
        }

        .next {
            order: 3;
            flex-shrink: 1;
        }

        .recipe-counter {
            order: 2;
            padding: 1rem 2rem;
        }
    }
}