.toggle {
    position: relative;
    text-align: right;
    margin-bottom: 0.5rem;
}

@mixin discoball {
    background: url('assets/img/icons/disco-with-border.svg') no-repeat center center;
    background-size: 1.25rem;
}

button.switch {
    margin: 0;
    padding: 0;
    width: 47px;
    height: 1.25rem;
    border: none;
    border-radius: 1.25rem;
    background-color: #C6C6C6;
    display: inline-block;
    margin-right: 0.25em;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font: 12px "Open Sans", "Arial", serif;
    cursor: pointer;
}

button.switch span {
    padding: 0.25rem;
    pointer-events: none;
}

[role="switch"][aria-checked="false"] :first-child,
[role="switch"][aria-checked="true"] :last-child {
    @include discoball();
    color: #222;
}

[role="switch"][aria-checked="false"] :last-child,
[role="switch"][aria-checked="true"] :first-child {
    color: #999;
}

label.switch {
    display: inline-block;
    pointer-events: none;
    line-height: 1.25rem;
    vertical-align: -webkit-baseline-middle;
}
