// colours
$color1: #006080;
$color3: #df6b00;
$primary: #414752;
$background: #fff;
$widget-background: #F7F6F5;

$component-background: rgba($primary, 0.025);

$container-max-width: 700px;
$element-max-width: 350px;

$breakpoint: 48em;

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Sen', verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $primary;
    margin: 0;
    padding: 0;
    text-align: center;
    background: $background;
    width: 100%;
    overflow-x: hidden;
}

#wrapper {
  min-height: 100vh;
  margin: 1rem;
}

h1 {
  font-size: 1.6rem;
  text-align: center;

  @media (min-width: $breakpoint) {
    font-size: 1.875rem;
  }
}

h2 {
    font-size: 1.5rem;
    @media (min-width: $breakpoint) {
        font-size: 1.75rem;
    }
}

p {
    max-width: 33em;
    margin: auto;
    text-align: left;
}

a {
  color: $primary;
  cursor: pointer;
}

a:hover {
  font-weight: bold;
  color: $color1;
}

.container {
  max-width: 100%;
}

.seasonal-veg--container {
  padding: 1rem;
  background-color: $widget-background;
  max-width: $container-max-width;
  margin: auto;
  display: block;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.highlight {
  font-weight: bold;
}

.off-screen {
  position: absolute;
  left: -400vw;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

img {
  width: 100%;
}

.header {
  position: relative;
  --text-width: 220px;
  --buffer: 1rem;

  @media (min-width: $breakpoint) {
    --text-width: 260px;
    --buffer: 2rem;
  }

  &--recipes {
    --text-width: 90px;

      @media (min-width: $breakpoint) {
        --text-width: 105px;
      }
  }

  &:before,
  &:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: calc(50% - ((var(--text-width) / 2) + var(--buffer)));
    height: 2px;
    content: '\a0';
    background-color: #000;
    left: 0.5rem;
  }

  &:after {
    right: 0.5rem;
    left: unset;
  }
}

@import './components/dropdowns/dropdowns';
@import './components/results/results';
@import './components/recipes/recipes';
@import './components//toggle/toggle';
@import './components/disco-mode/disco-mode';

.hide {
  display: none;
}

.show {
  display: block;
}