// colours
$color1: #006080;
$color3: #df6b00;
$primary: #414752;
$background: #fff;
$widget-background: #fafafa;

$component-background: rgba($primary, 0.025);

$container-max-width: 700px;
$element-max-width: 350px;

$breakpoint: 48em;

@font-face {
    font-family: acherus;
    src: url(./assets/font/acherusgrotesque-regular-webfont.woff);
}

@font-face {
    font-family: public;
    src: url(./assets/font/PublicSans-Roman-VF.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'acherus', verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $primary;
    margin: 0.5em;
    padding: 0 0.5em;
    text-align: center;
    background: $background;
    width: 100%;
    overflow-x: hidden;
}

#wrapper {
  min-height: 100vh;
}

h2 {
    font-size: 2em;
    @media (min-width: $breakpoint) {
        font-size: 3em;
    }
}

p {
    max-width: 33em;
    margin: auto;
    text-align: left;
}

a {
  color: $primary;
  cursor: pointer;
}

a:hover {
  font-weight: bold;
  color: $color1;
}

.container {
  max-width: 100%;
}

.seasonal-veg--container {
  padding: 1rem;
  background-color: $widget-background;
  max-width: $container-max-width;
  margin: auto;
  display: block;
}

h1 {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.off-screen {
  position: absolute;
  left: -400vw;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

img {
  width: 100%;
}

@import './components/dropdowns/dropdowns';
@import './components/results/results';
@import './components/recipes/recipes';
@import './components//toggle/toggle';


// disco

.disco-underlay.show {
  // display: grid;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  // justify-content: center;
  // align-content: center;
  // grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  // grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)),
  linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
  background-color: pink;
  animation: disco-colour 4s infinite alternate;
}

@keyframes disco-colour {
  0% {
    background-color: red;
  }

  25% {
    background-color: yellow;
  }

  50% {
    background-color: blue;
  }

  75% {
    background-color: green;
  }

  100% {
    background-color: purple;
  }
}

.food-image.disco {
  .arm--left {
    transform-origin: center;
    animation: arms-dance 2s infinite alternate-reverse;
  }

  .arm--right {
    transform-origin: center;
    animation: arms-dance 1s infinite alternate;
  }
}

@keyframes arms-dance {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(50deg);
  }
}