
<div id="wrapper" clss="wrapper" role="main">
	{{>toggle id="disco-toggle" text="Disco Mode"}}
	<div class="seasonal-veg--container">
		<h1>Seasonal Produce</h1>
		<div class="user-input-container">
			{{> dropdowns}}
		</div>
		<div class="results-container" style="display: none;">
			{{> results}}
			<hr />
			{{> recipes}}
		</div>
	</div>
</div>
<div class="disco-underlay"></div>
