<div class="dropdown-container dropdown-container--months">
    <select name="months" id="month-select">
        <option selected="selected" value="all">All months</option>
        {{#each (get-months) as |month|}}
            <option value={{month}}>{{lookup-conf 'months' month}}</option>
        {{/each}}
    </select>
</div>
<div class="dropdown-container dropdown-container--food">
    <label for="food-select">Which food would you like?</label>
    <select name="food" id="food-select">
        <option value="" selected="selected" disabled hidden=true>--Please choose an option--</option>
    </select>
</div>